<span class="heading-comman">Events</span>
<ul>
    <li title="All Events">{{ theme:image file="trending.png"}}<span class="left-links"><a href="#events">All Events</a></span></li>
    <li title="Trending">{{ theme:image file="trending.png"}}<span class="left-links"><a href="#trending">Trending</a></span></li>
    <li title="Favorite">{{ theme:image file="favrate-icon.png"}}<span class="left-links"><a href="#favorite">Favorite</a></span></li>
    <li title="Upcoming">{{ theme:image file="upcoming.png"}}<span class="left-links"><a href="#upcoming">Upcoming</a></span></li>
    <li title="Create Event">{{ theme:image file="upcoming.png"}}<span class="left-links"><a href="/densealife-page/create_event?flush=true">Create Event</a></span></li>
</ul>