
<span class="heading-comman">Information</span>
<ul>
    <li title="Message">
        {{ theme:image file="msg.png"}}
        <span class="left-links">
            <a href="/messages"  title="Message">Message</a>
        </span>
    </li>
    <li title="Photos">
        {{ theme:image file="photos.png"}}
        <span class="left-links">
            <a href="/user/{{_user:username}}#photos" title="Photos">Photos</a>
        </span>
    </li>
    <li title="Events">
        {{ theme:image file="events-icon.png"}}
        <span class="left-links">
            <a href="/profile/followers"  title="Followers">Followers {{profile:count_followers user_id=_user:id seperator='-'}}</a>
        </span>
    </li>
    <li title="Friend Request">
        {{ theme:image file="find-friend.png"}}
        <span class="left-links">
            <a href="/profile/friends/find"  title="Find Friends">Find Friends</a>
        </span>
    </li>
    <li title="Friend Request">
        {{ theme:image file="notification.png"}}
        <span class="left-links">
            <a href="/profile/notifications"  title="Notifications">Notifications </a>
        </span>
    </li>
</ul>