
<span class="heading-comman">Information</span>
<ul>
    <li title="Message">{{ theme:image file="msg.png"}}<span class="left-links"><a href="/messages">Message</a></span></li>
    <li title="Photos">{{ theme:image file="photos.png"}}<span class="left-links"><a href="/user/{{_user:username}}#photos">Photos</a></span></li>
    <li title="Events">{{ theme:image file="events-icon.png"}}<span class="left-links"><a href="/profile/followers">Followers {{profile:count_followers user_id=_user:id}}</a></span></li>
    <li title="Friend Request">{{ theme:image file="friendreq.png"}}<span class="left-links"><a href="/profile/friends/find">Find Friends</a></span></li>
    <li title="Friend Request">{{ theme:image file="friendreq.png"}}<span class="left-links"><a href="/profile/notifications">Notifications </a></span></li>
</ul>