<span class="heading-comman">Interests</span>
<ul>
    <li title="All Interest">{{ theme:image file="trending.png"}}<span class="left-links"><a href="#i-interests">All Interests</a></span></li>
    <li title="Trending">{{ theme:image file="trending.png"}}<span class="left-links"><a href="#i-trending">Trending</a></span></li>
    <li title="popular">{{ theme:image file="artist.png"}}<span class="left-links"><a href="#i-popular">Popular</a></span></li>
    <li title="Favorite">{{ theme:image file="favrate-icon.png"}}<span class="left-links"><a href="#i-favorite">Favorite</a></span></li>
    <li title="Create Interest">{{ theme:image file="favrate-icon.png"}}<span class="left-links"><a href="/densealife-page/create_interest">Create Interest</a></span></li>
</ul>