<span class="heading-comman">Social Profile</span>
<ul>
    <li title="Facebook" class="social-buttons">
        {{ theme:image file="facebook-icon.png" alt="Facebook" }}
        <span class="left-links">
            <a href="{{profile:link type='facebook' user_id=_user:id}}">Facebook</a>
        </span>
    </li>
    <li title="Twitter" class="social-buttons">
        {{ theme:image file="twitter-icon.png" alt="Twitter" }}
        <span class="left-links">
            <a href="{{profile:link type='twitter' user_id=_user:id}}">Twitter</a>
        </span>
    </li>
    <li title="Instagram" class="social-buttons">
        {{ theme:image file="instagram.png" alt="Instagram" }}
        <span class="left-links">
            <a href="{{profile:link type='instagram' user_id=_user:id}}">Instagram</a>
        </span>
    </li>
</ul>