<span class="heading-comman">Interests</span><a href="#">({{eventsmanager:count_interests user_id=user_id }})</a>
<ul class="modify-block clearfix">
{{eventsmanager:get_all_events user_id=user_id limit='6' entry_type='interest'}}
    <li>
        <span>{{title}}</span>
        <a href='/eventsmanager/about/{{slug}}' title='{{title}}'>{{eventsmanager:thumb name=thumbnail}}</a>
        <!--<div class="display-none hover-aera"><a href="" class="float-left star-aera">Star</a></div>-->
    </li>
{{/eventsmanager:get_all_events}}
</ul>
<span class="fr"><a href="#interests">View all</a></span>
<div class="clear"></div>