<span class="heading-comman">Favorites</span><a href="#">({{eventsmanager:count_favorites user_id = user_id}})</a>
<ul class="modify-block clearfix">
{{eventsmanager:favorites user_id=user_id limit='6'}}
    <li>
        <span>{{title}}</span>
        <a href='/eventsmanager/about/{{slug}}' title='{{title}}'>{{eventsmanager:thumb name=thumbnail}}</a>
        <!--<div class="display-none hover-aera"><a href="" class="float-left star-aera">Star</a></div>-->
    </li>
{{/eventsmanager:favorites}}
</ul>

<span class="fr"><a href="#favorites">View all</a></span>
<div class="clear"></div>