<!DOCTYPE html>
<html lang="en">
  <head>
    {{ theme:partial name="metadata" }}
  </head>
  <body class="preview" data-spy="scroll" data-target=".subnav" data-offset="80">
    {{# theme:js file="bsa.js" #}}
  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      {{ theme:partial name="header" }};
    </div>

    <div class="container">
      <!-- Masthead
      ================================================== -->
<!--      <header class="jumbotron subhead" id="overview">
        <div class="row">
          <div class="span12">
            <p>
              {{ theme:image file="logo.png" }}
            </p>
          </div>
        </div>

          <div class="subnav">
            <ul class="nav nav-pills">
              <li><a href="#default">Typography</a></li>
              <li><a href="#navbar">Navbar</a></li>
              <li><a href="#buttons">Buttons</a></li>
              <li><a href="#forms">Forms</a></li>
              <li><a href="#tables">Tables</a></li>
              <li><a href="#miscellaneous">Miscellaneous</a></li>
            </ul>
          </div>

      </header>-->
    
      {{ theme:partial name="breadcrumbs"}}
      {{ session:messages success="alert alert-success" notice="alert alert-block" error="alert alert-error" }}
      
      {{ template:body }}

      <br/><br/><br/><br/>

  <!-- Footer
    ================================================== -->
      <hr/>

      <footer id="footer">
        {{ theme:partial name="footer" }}
      </footer>

    </div><!-- /container -->

  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ theme:js file="bootstrap.js" }}
    {{ theme:js file="application.js" }}
    {{ theme:js file="bootswatch.js" }}
  </body>
</html>