
<div class="top-scrip"> <span><a href="/">{{ theme:image file="logoname.png" width="111" height='24'}} </a></span>
    <ul class="innerpages">
        <li title="Friend Request">
            {{ theme:image file="friendreq.png" alt="Friend Request" class="friend-request-block"}}
        <span class="notification-call friend-notification-count d-none"></span>
        <li title="Message">
            {{ theme:image file="msg.png" alt="Message" class="message-block" }}
        <span class="notification-call message-notification-count d-none"></span>
        </li>
        <li title="Notification">
            {{ theme:image file="notification.png" alt="Notification" class="notification-block"}}
        <span class="notification-call other-notification-count d-none"></span>
        </li>
        <li title="My Account">{{ theme:image file="myaccount.png" alt="My Account" }}</li>
    </ul>
</div>
<div class="banner-header">
    <div class="close-btn">x</div>
    <div class="fadein">
        {{ theme:image file="header-image.png"}}
        {{ theme:image file="events-picture1.jpg"}}
        {{ theme:image file="events-picture2.jpg"}}
        {{ theme:image file="events-picture3.jpg"}}
        {{ theme:image file="events-picture4.jpg"}}
    </div>
</div>