<header>
    <div class="top-scrip"> 
        <span>
            <a href="/densealife-page">{{ theme:image file="logoname.png" width="111" height='24'}} </a>
        </span>
        <ul>
            {{if user:not_logged_in}}
            <li>
                {{ theme:image file="facebook.png"}} 
            </li>
            <li>
                {{ theme:image file="twitter.png"}} 
            </li>
            <li>
                {{ theme:image file="insagram.png"}} 
            </li>
            {{else}}
            <li title="Friend Request">
                {{ theme:image file="friendreq.png" alt="Friend Request" class="friend-request-block"}}
                <span class="notification-call friend-notification-count d-none"></span>
            <li title="Message">
                {{ theme:image file="msg.png" alt="Message" class="message-block" }}
                <span class="notification-call message-notification-count d-none"></span>
            </li>
            <li title="Notification">
                {{ theme:image file="notification.png" alt="Notification" class="notification-block"}}
                <span class="notification-call other-notification-count d-none"></span>
            </li>
            <li title="My Account">
                {{ theme:image file="myaccount.png" alt="My Account" class="account-block"}}
                <div class="d-none my-account-li">
                    <ul>
                        <li>Logout</li>
                        <li>My Account</li>
                        <li>Privacy Setting</li>
                    </ul>
                </div>
            </li>
            {{endif}}
        </ul>
    </div>
    <div class="logo-densea-life">
        {{ theme:image file="logo.png"}} 
    </div>
    <div class="banner-header">
        {{if user:not_logged_in}}
            {{ theme:image file="header-image.png"}} 
        {{else}}
            <div class="fadein">
                {{ theme:image file="header-image.png"}}
                {{ theme:image file="events-picture1.jpg"}}
                {{ theme:image file="events-picture2.jpg"}}
                {{ theme:image file="events-picture3.jpg"}}
                {{ theme:image file="events-picture4.jpg"}}
            </div>
        {{endif}}
    </div>
</header>