  <header>
    <div class="top-scrip"> 
        <span>
            <a href="/densealife-page">{{ theme:image file="logoname.png" width="111" height='24'}} </a>
        </span>
      <ul>
        <li>
            {{ theme:image file="facebook.png"}} 
        </li>
        <li>
            {{ theme:image file="twitter.png"}} 
        </li>
        <li>
            {{ theme:image file="insagram.png"}} 
        </li>
      </ul>
    </div>
    <div class="logo-densea-life">
        {{ theme:image file="logo.png"}} 
    </div>
    <div class="banner-header">
        {{ theme:image file="header-image.png"}} 
    </div>
  </header>
