<div class="events-heading">Trending</div>
    <div class="event-slot-aera clearfix">
        <ul>
            {{ eventsmanager:trending limit="8"}}
            <li>
                <div class="event-slot-image">
                    <a href="{{ url:site uri='eventsmanager/{{slug}}' }}" title="{{ title }}" >{{ eventsmanager:thumb name="{{ thumbnail }}" }}</a>
                </div>
                <span class="events-name">
                    {{ title }}
                </span>
                <span class="stars">
                    <a href="#">{{ star_count }}</a>
                </span>
                <span class="follower">
                    <a href="#">{{ follow_count }}</a>Followers
                </span>
            </li>
            {{ /eventsmanager:trending }}
        </ul>
    </div>
    <div class="events-heading">Upcoming</div>
    <div class="event-slot-aera clearfix">
        <ul id="mycarousel" class="jcarousel-skin-tango">
            {{ eventsmanager:upcoming }}
            <li>{{ eventsmanager:thumb name="{{ thumbnail }}" }}</li>
            {{ /eventsmanager:upcoming }}
        </ul>
    </div>
