<div class="welcome-message">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="20%">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td rowspan="2" width="50px" style="padding:0 10px;">
                            {{user:profile_pic user_id = user:id}}
                        </td>
                        <td><h3>{{user:display_name}}</h3></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="1" cellpadding="5" align="center">
                                <tr>
                                    <th align="center" bgcolor="#23699e">Posts</th>
                                    <th align="center" bgcolor="#23699e">Following</th>
                                    <th align="center" bgcolor="#23699e">Followers</th>
                                </tr>
                                <tr>
                                    <td align="center" bgcolor="#C0F3FF">{{ comments:count}}</td>
                                    <td align="center" bgcolor="#C0F3FF">{{ profile:count_following}}</td>
                                    <td align="center" bgcolor="#C0F3FF">{{ profile:count_followers}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
            <td width="70%"><h2 class="heading-table">Welcome {{user:first_name}}</h2></td>
        </tr>
    </table>

</div>
<!--Start center-body-container-->
<div class="homepage-bodyinnre-container">
    <div class="comman-box clearfix">
        {{eventsmanager:slider call="upcoming" limit="8" slider_title='Upcoming' widget_id='mycarouselOne'}}
    </div>
    <div class="comman-box clearfix">
        {{eventsmanager:slider call="upcoming" limit="8" slider_title='Upcoming' widget_id='mycarouselTwo'}}
    </div>
    <div class="comman-box clearfix">
        {{eventsmanager:slider call="upcoming" limit="8" slider_title='Upcoming' widget_id='mycarouselThree'}}
    </div>
    <div class="comman-box clearfix">
        {{eventsmanager:slider call="upcoming" limit="8" slider_title='Upcoming' widget_id='mycarouselFour'}}
    </div>
    <div class="comman-box clearfix">
        {{eventsmanager:slider call="upcoming" limit="8" slider_title='Upcoming' widget_id='mycarouselFive'}}
    </div>
</div>