{{ theme:favicon file="favicon.ico" sizes="16x16 32x32" }}
<!-- Begin stylesheets -->
{{ asset:css file="skins/tango/skin.css" }}

{{ asset:css file="style.css" }}
{{ asset:css file="style-modified.css" }}
{{ asset:css file="common.css" }}
{{ asset:css file="jquery-ui.css" }}
<!-- End stylesheets -->
<!-- Use Html5Shiv in order to allow IE render HTML5 -->
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

{{ asset:js file="jquery-1.9.1.js" }}
{{ asset:js file="jquery-ui.js" }}
{{ asset:js file="jquery.jcarousel.js" }}
{{ asset:js file="jquery.form.js" }}
{{ asset:js file="expanding.js" }}
{{ asset:js file="custom.js" }}
{{ asset:js file="common.js" }}
{{ asset:js file="jquery.sticky.js" }}
<!--{{ asset:js file="lightbox.js" }}-->

<!-- uploader -->
{{ asset:css file="uploadfile.css" }}
{{ asset:js file="jquery.uploadfile.js" }}
{{ asset:js file="album.js" }}

<!--uploader finish -->
<!-- Begin scripts -->
{{ asset:render }}
<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="<?php echo base_url('assets/fancybox/source/jquery.fancybox.js?v=2.1.5');?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo base_url('assets/fancybox/source/jquery.fancybox.css?v=2.1.5');?>" media="screen" />
<script>
{{if user:logged_in}}
    var CURRENT_USER = "<?php echo $this->current_user->id;?>"
{{else}}
    var CURRENT_USER = "";
{{endif}}
</script>
<script type="text/javascript" src="<?php echo base_url('addons/default/modules/friend/js/friend.js');?>"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
    
        jQuery('#mycarousel').jcarousel();
        
        $('#mycarouselOne').jcarousel();
        $('#mycarouselTwo').jcarousel();
        $('#mycarouselThree').jcarousel();
        $('#mycarouselFour').jcarousel();
        $('#mycarouselFive').jcarousel();

        $('.fancybox').fancybox();
        
        jQuery('section.post > h2').hide();
        
        $('#stream_search').keyup(function(){

           if($(this).val().length > 3){
               $('#stream_search_result').animate({'opacity': '0.3'});

               $('#stream_search_result').load('/eventsmanager/search/'+$(this).val(), function(response){
                   $('#stream_search_result').animate({'opacity': '1'});
               });
           } 
        });
    });
    var base_url  = '{{ url:base }}';
</script>

<!-- End scripts -->
{{ template:metadata }}


<title>{{ settings:site_name }}&nbsp;&bull;&nbsp;{{ template:title }}</title>
