<!--<script>
    function fb_login()
    {
            $.post('/fb_login',{}, function(response){
                if(response.status =='success'){
                    window.location.href= FB_REDIRECT_URI
                }
            },'json');
    }
</script>-->
{{ if user:not_logged_in }}
<div class="login-form-block">
    <form action="{{ url:site uri='users/login' }}" method="post" accept-charset="utf-8" >
        <!--<input type="hidden" style="margin-bottom: 15px;" name="redirect_to" value="{{ url:current }}" />-->
        <span class="key-icon">Key Icon</span>
        <input type="text" id="email" name="email" placeholder="{{ helper:lang line='global:email' }}" />
        <input type="password" id="password" name="password" placeholder="{{ helper:lang line='global:password' }}" />
        <input type="checkbox" id="remember-checksidebar" name="remember" value="1"  />
        <span>{{ helper:lang line="user:remember" }}</span> | <span><a href="{{ url:site uri='users/reset_pass' }}" title="{{ helper:lang line='user:reset_password_link' }}">{{ helper:lang line="user:reset_password_link" }}</a></span>
        <button class="btn-color" type="submit" name="btnLogin">{{ helper:lang line='user:login_btn' }}</button>
        <button type="button" onClick="javascript:window.location.href ='{{url:site uri='users/register'}}'">{{ helper:lang line='user:register_btn' }}</button>
        
        
    </form>
    <span class="display-block saprator">- Or -</span>
    
    <button name="btnLogin" type="submit" class="btn-color facebook-login"><a href="{{fb_connect:login}}">Facebook Login</a></button>
    
    
<!--        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" onlogin="fb_login()"></div>-->
</div>
{{ endif }}

<div class="activity-feeds"> <span class="heading">Activity Feeds</span>

    <ul>
        {{comments:feeds limit='5'}}
        <li> 
            <span>{{user:profile_pic user_id='{{user_id}}'}}</span> 
            <span class="text head">{{entry_title}}</span> 
            <span class="text">{{parsed}}</span> 
        </li>
        {{/comments:feeds}}
    </ul>
    <hr />
    <span class="more"><a href="">More Comments...</a></span> </div>